header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}


.city {
  padding: 20px;
  box-shadow: #3d12bfcd 0px 3px 8px;
  margin: 20px auto;
  max-width: 500px;
}

h2 {
  color: #3d12bfcd;
}

h1 {
  color: #3d12bfcd;
  text-align: center;
}