@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.city img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

.city-card {
  box-shadow: #828282cd 0px 3px 8px;
  border-radius: 0 0 10px 10px;
  margin: 20px;
  width: 500px;
}

.info {
  padding: 20px;
}


h2 {
  color: #3d12bfcd;
}

h1 {
  color: #3d12bfcd;
  text-align: center;
  font-size: 3rem;
}

